@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:600');
@import 'variables';

html {
    scroll-behavior: smooth;

    body {
        margin: 0 auto;
        width: 100%;

        h1, h2, h3, h4, h5, h6, a {
            font-family: 'Patua One', cursive;
        }

        p {
            font-family: 'Raleway', sans-serif;
        }

        img {
            width: $width;
            height: $height;
        }
    }
}


.intro {
    background: url('../images/ink_water_back.png') no-repeat center center;
    background-size: cover;

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: rgba(243, 69, 42, 0.8);

        .logo {
            padding: 10px 10px 0px;
            
            img {
                width: 80px;
                height: 30px;
            }
        }

        .nav-menu {
            padding: 10px 10px 5px;
            
            .burger {
                display: inline-block;
                border: 0;
                background: none;
                outline: 0;
                padding: 0;
                cursor: pointer;
                border-bottom: $burger--thickness solid currentColor;
                width: $width;
                transition: border-bottom 1s ease-in-out;
                -webkit-transition: border-bottom 1s ease-in-out;  
            
                &:before {
                    content: "";
                    display: block;
                    border-bottom: $burger--thickness solid currentColor;
                    width: 100%;
                    margin-bottom: 5px;
                    transition: transform 0.5s ease-in-out;    
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;        
                }
            
                &:after {
                    content: "";
                    display: block;
                    border-bottom: $burger--thickness solid currentColor;
                    width: 100%;
                    margin-bottom: 5px;
                    transition: transform 0.5s ease-in-out;
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;
                }
            }
            
            .burger-check {
              display: none;
            }
            
            .burger-check:checked ~ .burger {
              border-bottom: $burger--thickness solid transparent;
              transition: border-bottom 0.8s ease-in-out;
              -webkit-transition: border-bottom 0.8s ease-in-out;
            
              &:before {
                transform: rotate(-405deg) translateY(1px) translateX(-3px);
                -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
                transition: transform 0.5s ease-in-out;
                -webkit-transition: -webkit-transform 0.5s ease-in-out;
              }
            
              &:after {
                transform: rotate(405deg) translateY(-4px) translateX(-5px); 
                -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
                transition: transform 0.5s ease-in-out;
                -webkit-transition: -webkit-transform 0.5s ease-in-out;
              }
            }
            
            .dropdown-menu {
                text-decoration: none;
                overflow: hidden;
                max-height: 0;
                transition: $navigation__transition;
                
                ul {
                    display: inline-block;
                    padding-left: 0;

                    li {
                        list-style-type: none;
                        text-decoration: none;
                        display: inline-flex;

                        a {
                            text-decoration: none;
                            font-family: 'Patua One', cursive;
                            color: #ffffff;
                            font-size: 20px;
                            line-height: 1.15;
                            padding: 5px;
                        }
                    }
                }
            }
            
            .burger-check:checked ~ .dropdown-menu {
                max-height: 200px;
                transition: $navigation__transition;
                
                ul {
                    padding-left: 0;

                    li {
                        list-style-type: none;
                        text-decoration: none;
                        display: inline-flex;

                        a {
                            text-decoration: none;
                            font-family: 'Patua One', cursive;
                            color: #000;
                            font-size: 20px;
                            line-height: 1.15;
                            padding: 5px;
                        }
                    }
                }
            }
        }    
    }

    header {
        text-align: center;
        padding-top: 180px;
        padding-bottom: 100px;

        h1 {
            font-size: 32px;
            color: #ffffff;

            span {
              color: #F3452A; 
            }
        }
    }

    .scroll-link {
        text-align: center;
        padding-top: 50px;

        img {
            width: $width;
            height: $height;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;


    h2{
        font-size: 32px;
    }

    .about {
        width: 100%;
        background-color:  #ffffff;
        color: #000;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        
        #about-content {
        margin: auto;
        max-width: 1000px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        }
    }

    .history {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #ffffff;
        color: #000;

        .language-list {
            display: inline-flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .inside {
                max-width: 400px;

                .inside-image {
                    padding-top: 20px;
                    padding-right: 20px;
                    width: $width;
                    height: $height;
                }
            }
        }
    }

    .work {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #ffffff;
        color: #000;
    }
}

footer {
    background-color: #F3452A;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;

    .footer-links {

        ul {
            list-style-type: none;
            display: inline-flex;

            li a {
                align-items: center;
                justify-content: space-evenly;
                line-height: 2px;
                text-decoration: none;
                font-size: 18px;
                padding-left: 50px;
                color: #000;
            }
       }
    }

    .contact-links {
        ul {
             list-style-type: none;
             width: 100%;
             display: inline-flex;
             justify-content: space-around;
             align-items: flex-start;
             padding-left: 0;
 
             li a {
                 align-items: center;
                 line-height: 2px;
             }
        }
    }
}

@media screen and (min-width: 500px) {
    .intro header h1 {
        font-size: 44px;
    }
}