html {
  --base-rem: 20px;
  --spacer-xl: 4rem;
  --spacer-lg: 2rem;
  --spacer-ml: 1.5rem;
  --spacer: 1rem;
  --spacer-ms: 0.75rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --spacer-xxs: 0.13rem;
  --spacer-window: var(--spacer-lg);
  --sidebar-width: 250px;
  --border-width-narrow: 1px;
  --border-width-separator: 2px;
  --border-width-outline: 3px;
  --border-radius-lg: 0.5rem;
  --border-radius: 0.25rem;
  --border-radius-sm: 0.125rem;
  --icon-size-xs: 0.25rem;
  --icon-size-sm: 0.5rem;
  --icon-size-ms: 0.75rem;
  --icon-size: 1rem;
  --icon-size-ml: 1.5rem;
  --icon-size-lg: 2rem;
  --icon-size-xl: 4rem;
  --icon-size-xxl: 8rem;
  --thumbnail-size-sm: 2rem;
  --thumbnail-size: 4rem;
  --input-height: 2rem;
  --input-height-tall: 6rem;
  --input-width-narrow: 6rem;
  --input-width-small: 8rem;
  --input-width-normal: 10rem;
  --row-padding: 0.5rem 0 0.5rem 0;
  --outline-width: var(--border-width-outline);
  --z-index-scrollsnap: 105;
  --z-index-navbar: 109;
  --z-index-overlay: 110;
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/roboto/extrabold.woff2") format("woff2"), url("../fonts/roboto/extrabold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/roboto/extrabold_italic.woff2") format("woff2"), url("../fonts/roboto/extrabold_italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/roboto/bold.woff2") format("woff2"), url("../fonts/roboto/bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/roboto/bold_italic.woff2") format("woff2"), url("../fonts/roboto/bold_italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/roboto/semibold.woff2") format("woff2"), url("../fonts/roboto/semibold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/roboto/semibold_italic.woff2") format("woff2"), url("../fonts/roboto/semibold_italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto/regular.woff2") format("woff2"), url("../fonts/roboto/regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/roboto/regular_italic.woff2") format("woff2"), url("../fonts/roboto/regular_italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/roboto/light.woff2") format("woff2"), url("../fonts/roboto/light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/roboto/light_italic.woff2") format("woff2"), url("../fonts/roboto/light_italic.woff") format("woff");
}

:root {
  --font-family-roboto: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size-title1: 1.5rem;
  --font-size-title2: 1.3rem;
  --font-size-title3: 1.1rem;
  --font-size-title4: 1rem;
  --font-size-headline: 0.85rem;
  --font-size-body: 0.85rem;
  --font-size-callout: 0.8rem;
  --font-size-subhead: 0.75rem;
  --font-size-footnote: 0.65rem;
  --font-size-caption1: 0.6rem;
  --font-size-caption2: 0.55rem;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --font-weight-strong: var(--font-weight-bold);
  --font-weight-heading: var(--font-weight-bold);
  --line-height-xl: 2;
  --line-height-lg: 1.5;
  --line-height-normal: 1.1;
  --line-height-tight: 1;
}

html {
  /********** Base Colors **********/
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-link: #b2c0df;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family-roboto);
}

html .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 var(--spacer);
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
  html .container {
    height: 100%;
    padding-bottom: var(--spacer-window);
  }
}

html .container .home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px auto;
}

html .container .home__container > * {
  margin: var(--spacer-ml);
}

@media only screen and (max-width: 860px) {
  html .container .home__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html .container .home__container .home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .home__container .home__content > *:not(:nth-child(3)) {
  margin-top: var(--spacer-sm);
}

@media only screen and (max-width: 414px) {
  html .container .home__container .home__content {
    width: 100%;
  }
}

html .container .home__container .home__content .home__content-intro {
  text-align: left;
  margin-bottom: 0;
  font-size: var(--spacer-lg);
  font-weight: var(--font-weight-normal);
  letter-spacing: 2px;
}

@media only screen and (max-width: 860px) {
  html .container .home__container .home__content .home__content-intro {
    font-size: var(--spacer-ml);
  }
}

html .container .home__container .home__content .home__content-title {
  margin-bottom: 0;
  font-size: var(--spacer-xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: 3px;
}

@media only screen and (max-width: 414px) {
  html .container .home__container .home__content .home__content-title {
    font-size: var(--spacer-lg);
  }
}

html .container .home__container .home__content .home__content-subtitle {
  margin-top: var(--spacer-xxs);
  margin-bottom: 0;
  font-size: var(--spacer-lg);
  font-weight: var(--font-weight-normal);
  letter-spacing: 2px;
}

@media only screen and (max-width: 860px) {
  html .container .home__container .home__content .home__content-subtitle {
    width: 100%;
    margin: auto;
    font-size: var(--spacer-ml);
  }
}

@media only screen and (max-width: 414px) {
  html .container .home__container .home__content .home__content-subtitle {
    width: 100%;
    text-align: left;
  }
}

html .container .home__container .home__content .home__content-skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
}

html .container .home__container .home__content .home__content-skills__list li {
  display: inline-block;
  margin-top: var(--spacer-xs);
  padding-right: var(--spacer);
  font-size: var(--font-size-callout);
  letter-spacing: 2px;
}

html .container .home__container .home__content .home__content-skills__list li:not(:first-child) {
  border-left: var(--border-width-separator) solid var(--color-black);
  padding-left: var(--spacer);
}

@media only screen and (max-width: 860px) {
  html .container .home__container .home__content .home__content-skills__list li {
    font-size: var(--font-size-caption1);
    text-align: left;
  }
}

@media only screen and (max-width: 414px) {
  html .container .home__container .home__content .home__content-skills__list li:first-child {
    padding-right: var(--spacer-xxs);
  }
}

html .container .home__container .home__content .home__content-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .container .home__container .home__content .home__content-nav__menu > *:not(:first-child) {
  margin-left: var(--spacer-lg);
}

html .container .home__container .home__content .home__content-nav__menu .nav__menu-item {
  color: var(--color-link);
  font-size: var(--font-size-title4);
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
  text-decoration: none;
}

html .container .home__container .home__content .home__content-nav__menu .nav__menu-item span {
  padding-bottom: var(--spacer-xs);
}

html .container .home__container .home__content .home__content-nav__menu .nav__menu-item span:hover {
  color: var(--color-black);
  border-bottom: var(--border-width-separator) solid var(--color-black);
}

html .container .home__container .home__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 860px) {
  html .container .home__container .home__profile {
    width: 100%;
  }
}

html .container .home__container .home__profile img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
}
/*# sourceMappingURL=main.css.map */