@import './base/layout/layout.scss';
@import './base/font/typography.scss';
@import './base/color/color.scss';

html {
  scroll-behavior: smooth;
  font-family: var(--font-family-roboto);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 0 auto;
    padding: 0 var(--spacer);

    background: var(--color-black);
    color: var(--color-white);

    @media only screen and (orientation: landscape) {
      height: 100vh;
    }

    .home__container {
      display: flex;
      flex-wrap: wrap;

      width: 1200px auto;

      > * {
        margin: var(--spacer-ml);
      }

      .home__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > * {
          margin-top: var(--spacer-sm);
        }
        @media only screen and (max-width: 860px) {
          width: 75%;
          margin: auto;
        }
        @media only screen and (max-width: 414px) {
          width: 100%;
        }

        .home__content-intro {
          text-align: left;
          margin-bottom: 0;
          font-size: var(--spacer-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 2px;
          
          @media only screen and (max-width: 860px) {
            font-size: var(--spacer-ml);
          }
        }
        .home__content-title {
          margin-bottom: 0;
          font-size: var(--spacer-xl);
          font-weight: var(--font-weight-bold);
          letter-spacing: 3px;

          @media only screen and (max-width: 414px) {
            font-size: var(--spacer-lg);
          }
        }
        .home__content-subtitle {
          margin-bottom: 0;
          font-size: var(--spacer-lg);
          font-weight: var(--font-weight-normal);
          letter-spacing: 2px;

          @media only screen and (max-width: 860px) {
            font-size: var(--spacer-ml);
          }
          @media only screen and (max-width: 414px) {
            text-align: left;
          }
        }
        .home__content-skills__list {
          display: flex;
          justify-content: center;
          list-style-type: none;
          padding-left: 0;

          li {
            display: inline-block;
            margin-top: var(--spacer-xs);
            padding-right: var(--spacer);
            font-size: var(--font-size-callout);
            letter-spacing: 2px;

            &:not(:first-child) {
              border-left: var(--border-width-separator) solid var(--color-white);
              padding-left: var(--spacer);
            }
            @media only screen and (max-width: 860px) {
              font-size: var(--font-size-caption1);
              text-align: left;
            }
            @media only screen and (max-width: 414px) {
              &:first-child {
                padding-right: var(--spacer-sm);
                padding-left: 0;
              }
            }
          }
        }
        .home__content-nav__menu {
          display: flex;
          justify-content: center;
    
          > *:not(:first-child) {
            margin-left: var(--spacer-lg);
          }

          .nav__menu-item {
            color: var(--color-link);
            font-size: var(--font-size-title4);
            font-weight: var(--font-weight-bold);
            letter-spacing: 2px;
            text-decoration: none;
    
            span {
              padding-bottom: var(--spacer-xs);
    
              &:hover {
                color: var(--color-white);
                border-bottom: var(--border-width-separator) solid var(--color-white);
              }
            }      
          }
        }
      }
      .home__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 860px) {
          width: 100%;
        }
        
        img {
          display: flex;
          width: 14rem;
          height: 14rem;

          border-radius: 100%;
        }
      }
    }
  }
}